@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-weight: normal;
  font-style: normal;
}

/* shared-styles */
.display-flex {
  display: flex;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
.text-primary {
  color: #ff900e;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
/* header style */

/* navbar related style */

.navbar {
  justify-content: space-between;
}
.brand {
  font-weight: 700;
  font-size: 2.5rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related style */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-img {
  width: 100%;
}

/* features part style */

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teems {
  align-items: center;
  gap: 73px;
}

#quick-list {
  font-weight: 500;
}
/* features enjoy related style */
#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.features-card,
.features-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.Features {
  gap: 130px;
}
#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -80px;
  margin-top: -100px;
}
#experience-year {
  font-weight: bold;
  font-size: 4rem;
}
/* facts relative style */
.facts {
  border: 1px solid #ff900e;
  height: 240px;
  width: 240px;
  border-radius: 8px;
  text-align: center;
  padding: 100px 45px 55px 45px;
}
#fact-description {
  max-width: 540px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

/* our sponspor related style */

.sponspor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponspor-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponspor-company img {
  filter: grayscale(100%);
}

/* footer part start */
.footer {
  height: 100px;
  width: 1440px;
  background-color: #fff4e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 130px auto;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teems,
  .Features {
    flex-direction: column;
  }
  .brand {
    text-align: center;
  }
  .Features img {
    width: 100%;
  }
  #experience-badge {
    margin-left: 15px;
    margin-top: 20px;
  }
  .some-facts {
    width: 100%;
  }
  .team-img-container,
  .facts-container,
  .sponspor-company {
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-container {
    justify-content: center;
    gap: 24px;
  }
  .sponspor-company {
    justify-items: center;
    gap: 50px;
  }
  .team-img-container img {
    width: 100%;
  }
  .footer {
    width: 100%;
    text-align: center;
  }
}

/* responsive for medium size */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teems {
    flex-direction: column;
  }
  .our-features {
    margin: 0 100px;
  }
  .sponspor-company,
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-items: center;
  }
}
